<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="CAMINHO_BASE_INSTANCIAS" value="..\\..\\_instancias\\small\\"/>-->
    <add key="CAMINHO_BASE_INSTANCIAS" value="..\\..\\_instancias\\harwellboeing\\"/>
    <add key="CAMINHO_ARQUIVO_LOG_EXECUCAO" value="log-execucao-{0}-{1}.txt"/>
    <add key="CAMINHO_ARQUIVO_LOG_GERAL" value="log-geral.txt"/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>